.pagination {
  margin: 2rem;
}

.paginationButton {
  background-color: rgba(0, 128, 128, 1);
  color: white;
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 1rem;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.paginationButton:hover,
.paginationButton:focus {
    background: rgba(0, 128, 128, 0.411);
    transform: scale(1.1);
}
