.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #0ccac4;
}

.nav-link--active {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: rgb(144, 248, 255);
}

.current {
  border-bottom: 2px solid black;
}
